<module>
	<rawname>userpaneltab</rawname>
	<name>User Panel</name>
	<version>2.10.0.0</version>
	<type>tool</type>
	<repo>standard</repo>
	<description>
		Provides a Module Menu that launches the ARI User Panel. Requires the User Portal (ARI) to be installed
	</description>
	<category>Admin</category>
	<menuitems>
		<userpaneltab category="User Panel" href="/recordings" target="ari" access="all">User Panel</userpaneltab>
	</menuitems>
	<depends>
		<module>fw_ari</module>
	</depends>
	<location>release/2.10/userpaneltab-2.10.0.0.tgz</location>
	<md5sum>dc5c1b4bda693d21fdb42b1b3774c849</md5sum>
</module>
