<module>
	<rawname>userpaneltab</rawname>
	<name>User Panel</name>
	<repo>standard</repo>
	<version>2.11.0.1</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<description>
		Provides a Module Menu that launches the ARI User Panel. Requires the User Portal (ARI) to be installed
	</description>
	<changelog>
		*2.11.0.1* Add license
		*2.11.0.0* 2.11 bump
		*2.10.0.0* first version
	</changelog>
	<category>Admin</category>
	<menuitems>
		<userpaneltab 
			category="User Panel" 
			href="/recordings" 
			target="ari" 
			access="all"
			requires_auth="false"
			>User Panel</userpaneltab>
	</menuitems>
	<depends>
		<module>fw_ari</module>
	</depends>
	<supported>
		<version>2.10</version>
	</supported>
	<location>release/2.11/userpaneltab-2.11.0.0.tgz</location>
	<md5sum>203c557806c1e9c50bdc7c99cec87fd6</md5sum>
</module>
