<module>
	<rawname>userpaneltab</rawname>
	<name>User Panel</name>
	<repo>standard</repo>
	<version>2.10.0.0</version>
	<type>tool</type>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<description>
		Provides a Module Menu that launches the ARI User Panel. Requires the User Portal (ARI) to be installed
	</description>
	<category>Admin</category>
	<menuitems>
		<userpaneltab category="User Panel" href="/recordings" target="ari" access="all">User Panel</userpaneltab>
	</menuitems>
	<depends>
		<module>fw_ari</module>
	</depends>
	<location>release/2.10/userpaneltab-2.10.0.0.tgz</location>
	<md5sum>8bf055342e271f9f4b170e225657b2c3</md5sum>
</module>
